{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Enregistrement</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'im/favicon_SELF.png'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css'%}">
    

    {% block styles %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    

</head>
<body>
    

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SELF Innovalangues</a>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">User ID: {{ user }}
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
        </ul>
        
    </div>
  </nav>
  
  
  

{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-{{ message.tags }}">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
  
<div class="container">
    {% block content %}
    {% endblock %}
</div>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->


{% block javascript %}
{% endblock %}


    
</html>
