pre {
    padding: 0px;
    border:0px;
    border-radius: 0px;
  }
  
  red {
    color: red;
  }
  
  a {
    color: #337ab7;
  }
  p {
    margin-top: 1rem;
  }
  a:hover {
    color:#23527c;
  }
  a:visited {
    color: #8d75a3;
  }
  
  #controls {
    display: flex;
    margin-top: 2rem;
  }
  button {
    flex-grow: 1;
    height: 2.5rem;
    min-width: 2rem;
    border: none;
    border-radius: 0.15rem;
    background: #ed341d;
    margin-left: 2px;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
  button:hover, button:focus {
    outline: none;
    background: #c72d1c;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  button:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
  }
  button:disabled {
    pointer-events: none;
    background: lightgray;
  }
  button:first-child {
    margin-left: 0;
  }
  audio {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
  }
  li {
    list-style: none;
    margin: 0.5rem;
  }
  #formats {
    margin-top: 0.5rem;
    font-size: 80%;
  }